[user]
	name = tivnantu
	email = tivnantu@tencent.com
[core]
	editor = nvim
	pager = delta
	excludesfile = /Users/ta/.gitignore_global
[diff]
	colorMoved = default
[push]
	autoSetupRemote = true
[delta]
	dark = true
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = zdiff3
[interactive]
	diffFilter = delta --color-only
	diffContext = 50
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@git.woa.com:"]
	insteadOf = git@git.code.oa.com:
	insteadOf = http://git.woa.com/
	insteadOf = https://git.woa.com/
	insteadOf = http://git.code.oa.com/
	insteadOf = https://git.code.oa.com/