[user]
	name = tivnantu
	email = tivnantu@163.com
[core]
	pager = delta
[diff]
	colorMoved = default
[push]
	autoSetupRemote = true
[delta]
	dark = true
	navigate = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[interactive]
	diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true