[Desktop Entry]
Name=clash
Comment=clash
Exec=/opt/clash/clash-linux-amd64 %u
Icon=/opt/clash/clash.png
Type=Application
Terminal=False
Encoding=UTF-8